/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.section {
  padding-bottom: 0px;
}

.jumbotron {
  background-image: url('../img/banner.jpg');
  padding-top: 30px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  color: inherit;
  background-color: #eee;
  height: 500px;
  background-size: 100% 100%;
  line-height: 50px;
  border-bottom:1px solid #666;
}
.jumbotron h1,
.jumbotron .h1 {
  color: inherit;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 200;
}
.jumbotron > hr {
  border-top-color: #d5d5d5;
}
.container .jumbotron,
.container-fluid .jumbotron {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px;
}
.jumbotron .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .jumbotron,
  .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
}

nav ul a {
  color: #666;
}

nav a {
  color: #666;
}

nav {
  height: 100px;
  line-height: 100px;
}

.logo-img {
  height: 80px;
  margin: 10px;
}

#map {
  height: 400px;
  width: 100%;
}

.map-descricao {
  width: 100%;
}

.map-title {
  padding-top: 100px;
}

.margin-title {
  padding-top: 50px;
  padding-bottom: 40px;
  color: #c84714;
}

.footer-color {
  background-color: #ebebeb;
}

a {
  color: #666;
}

p {
  padding-bottom: 20px;
}

.btn, .btn-large {
  background-color: #c84714;
}

.btn:hover {
  background-color: #ad4014;
}

@media only screen and (max-width: 480px) {
  .jumbotron {
    height: 300px;
    line-height: 0px;
  }

  .jumbotron h1 {
    margin-bottom: 14px;
    font-size: 36px;
  }

  .margin-title {
    padding-top: 20px;
    padding-bottom: 10px;
  }
}

@media only screen and (max-width: 993px) {
  nav a.button-collapse {
    margin: 20px 28px;
  }
}
 .uppercase {
   text-transform: uppercase;
 }

 .botao{
  margin-top: 70px;
 }

 .input-field input[type=text]:focus + label {
     color: #666;
}

.input-field input[type=text]:focus {
     border-bottom: 1px solid #c84714;
     box-shadow: 0 1px 0 0 #c84714;
   }

   .margintop { 
     padding-top: 0px;
   }